<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.arvidg.exampleactionbartabs"
    android:label="Community+"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Community+" >
        <activity
            android:name="com.example.hackathon.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >

            <!-- This is where it's supposed to go -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hackathon.StartActivity"
            android:label="Community+"
            android:theme="@style/Theme.AndroidDevelopers" >

            <!-- Remember to move this back to splash -->

        </activity>
        <activity
            android:name="com.example.hackathon.EventDetail"
            android:label="Event"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.example.hackathon.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hackathon.PeopleActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.example.hackathon.EventCreate"
            android:label="New Event" >
        </activity>
        <activity
            android:name="com.example.hackathon.PeopleDetail"
            android:label="Profile"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
        <activity
            android:name="com.example.hackathon.EditProfile"
            android:theme="@style/Theme.AndroidDevelopers" >
        </activity>
    </application>

</manifest>